body {
  background-image: url("./images/pattern-background-desktop.svg");
  background-size: 1000px;
  background-color: hsl(225, 100%, 94%);
}
.back-cover {
  display: flex;
  justify-content: center;
}
.card {
  background-color: white;
  width: 400px;
  height: 650px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px grey;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}
.red-hat-display-card {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500, 700, 900;
  font-style: normal;
}

.illustration img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wording {
  padding: 0 20px;
  color: hsl(228, 45%, 44%);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 20px;
}
.plan-card {
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 300px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  margin: 10% auto 10% auto;
  font-size: 12px;
  font-weight: 500;
  color: hsl(223, 47%, 23%);
  overflow: hidden;
  gap: 20px;
}
.music-icon {
  width: 40px;
  height: 40px;

  vertical-align: middle;
}
.h2 {
  font-size: 5px;
  font-weight: 700;
  margin: 0;
  color: hsl(223, 47%, 23%);
  line-height: 0.5;
  word-spacing: 1px;
}
.plan-details {
  text-align: left;
  width: 150px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
}
.process-btn {
  background-color: hsl(228, 45%, 44%);
  color: white;
  border: none;
  border-radius: 10px;
  height: 50px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 20px 15px 30px hsl(224, 23%, 55%);
}
.cancel-btn {
  background-color: transparent;
  color: hsl(223, 47%, 23%);
  border: none;
}
